# Case Study: Is there a relationship between playground availability and household income in New York City?

First, we import the relevant Python libraries and load the relevant datasets. The parks and playground datasets were taken from the NYC Open Data website. The income dataset was taken from the IRS website. <br>
<br>
Directory of Parks - Updated September 2018 <br>
https://data.cityofnewyork.us/Recreation/Directory-of-Parks/79me-a7rs <br>
<br>
Directory of Playgrounds - Updated January 2019 <br>
https://data.cityofnewyork.us/Environment/Directory-of-Playgrounds/59gn-q4ai <br>
<br>
Individual Income Tax Statistics by Zip Code - Updated 2016 <br>
https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi <br>
<br>
<br>
For optimal results, run the cells in sequence. This notebook requires numpy, pandas, and folium packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_park = pd.read_json('DPR_Parks_001.json')
df_playground = pd.read_json('DPR_Playgrounds_001.json')
df_income = pd.read_csv('16zpallagi.csv')

# Cleaning the Parks and Playgrounds Datasets

There are 1673 total rows in the Parks dataset. However, the Parks dataset is incomplete. 1442 parks are labeled with a zipcode. 125 parks have multiple zip codes. 106 parks have no zipcodes. Each park has a unique identifier, Prop_ID. 

There are 1269 total rows in the Playgrounds dataset.  All 1269 playgrounds have a Prop_ID that would link them to a park. However, 234 school playgrounds have Prop_IDs formatted differently than those of regular parks. 1245 playgrounds have latitude and longitude data. Furthermore, the Playgrounds dataset does not include a zip code column, but does include address data, some of which may include a zip code. Since not all playgrounds have zip codes or have matching Prop_IDs, the best way to identify each playground is by its name.

In [4]:
#extract the zipcode from the address found in Location column
df_playground['zipcode'] = df_playground['Location'].str.extract('(\d\d\d\d\d)', expand=True)
df_playground[df_playground['School_ID']=='K006']

,Accessible,Adaptive_Swing,Level,Location,Name,Playground_ID,Prop_ID,School_ID,Status,lat,lon,zipcode
1003,Y,N,4.0,"43 Snyder Ave, Brooklyn, NY 11226",PS 6K,None,B,K006,Open to the Public,40.6489,-73.9566,11226

We have to figure out a way to combine the Parks and Playgrounds datasets. We can merge the datasets using an Outer Join, linking each dataset by the Prop_ID column that they both share, while preserving any other data that would have been lost from an inner join. Let's call this the AllParks dataset.

Ultimately, even though not all parks and playgrounds have zipcodes associated with them, the Zipcode column is the best way to link the AllParks dataset with the Income dataset. Because of this, not every park and playground will be included in the final result.

For the purposes of this analysis, the combined park and playground dataset will include 1413 parks and 1037 playgrounds.

In [5]:
#combine the park and playground datasets based on their zip codes. Not every park and playground will be included
#due to the fact that some parks and playgrounds don't have zip codes.

df_allparks = pd.merge(df_park,df_playground,on='Prop_ID',how='outer')

#Combine the zipcodes from the park dataset with the zipcodes from the playground dataset into one column
df_allparks = pd.concat([df_allparks['Name_x'],df_allparks['Name_y'],df_allparks['Zip'].combine_first(df_allparks['zipcode'])],axis=1)

#Because of the outer join, we only want to count unique names for parks and playgrounds to avoid overcounting
df_allparks = df_allparks.groupby('Zip', as_index=False).agg({'Name_x':'nunique','Name_y':'nunique'}).sort_values(by=['Name_x'],ascending=False)

#Rename the columns
df_allparks = df_allparks.rename(columns = {'Zip':'Zipcode','Name_x':'No. of Parks','Name_y':'No. of Playgrounds'})
df_allparks = df_allparks[['Zipcode','No. of Parks','No. of Playgrounds']]

#Because some rows have multiple zipcodes, we could eliminate them because they won't fit with our income dataset
#create a new column that counts the number of characters in the Zipcode column. A character count 
#greater than 5 indicates the row has more than one zipcode
df_allparks['counts'] = df_allparks['Zipcode'].str.len()
df_allparksCompatible = df_allparks[df_allparks['counts']==5]

print('Count of Parks and Playgrounds (multiple zipcodes):')
print('\n')
print(df_allparks.sum())
print('\n')
#there are 1537 parks and 1208 playgrounds in our cleaned-up AllParks dataset
#this dataset includes parks/playgrounds with multiple zipcodes

print('\n')
print('Count of Parks and Playgrounds (multiple zipcodes removed):')
print('\n')
print(df_allparksCompatible.sum())
#there are 1413 parks and 1037 playgrounds in the Compatible AllParks dataset
#this dataset excludes parks/playgrounds with multiple zipcodes and is more compatible
#with comparing against income dataset

Count of Parks and Playgrounds (multiple zipcodes):


Zipcode               1121111201100021121210314113771030111206104571...
No. of Parks                                                       1537
No. of Playgrounds                                                 1208
counts                                                             2916
dtype: object




Count of Parks and Playgrounds (multiple zipcodes removed):


Zipcode                       inf
No. of Parks          1413.000000
No. of Playgrounds    1037.000000
counts                 860.000000
dtype: float64

# Cleaning the Income Dataset
The IRS Income dataset includes data from all 50 US states. We only want income data from New York, so we filter the dataset.

In [6]:
df_incomeNY = df_income[df_income['STATE'] == 'NY']
df_incomeNY

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
102602,36,NY,0,1,3445320,2355000,445210,595120,2114350,4860320,...,1713210,1659729,20,8,0,0,441650,387884,2729330,5662377
102603,36,NY,0,2,2124110,1162700,441680,474330,1285810,3760990,...,1816240,5000576,0,0,0,0,290630,482940,1801120,4662872
102604,36,NY,0,3,1297620,644300,399250,216270,829800,2372130,...,1257120,7572716,30,18,20,42,258810,585359,1013190,2932751
102605,36,NY,0,4,825090,307120,392040,99830,554500,1705160,...,816050,7895883,0,0,0,0,183170,543754,615490,2209076
102606,36,NY,0,5,1242910,293570,841180,82060,877120,3053270,...,1237140,23154728,16500,4382,3910,2224,343770,1668063,840920,4104126
102607,36,NY,0,6,533020,86040,419810,11670,422720,1477580,...,532690,86295410,309570,959747,319850,2085711,246650,6342381,193610,6683628
102608,36,NY,6390,1,40,50,0,0,30,40,...,40,97,0,0,0,0,0,0,40,73
102609,36,NY,6390,2,20,0,30,0,0,40,...,0,0,0,0,0,0,0,0,0,0
102610,36,NY,6390,3,50,30,0,0,30,80,...,50,388,0,0,0,0,40,134,40,115
102611,36,NY,6390,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102612,36,NY,6390,5,40,0,30,0,20,90,...,40,1167,0,0,0,0,0,0,0,0
102613,36,NY,6390,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102614,36,NY,10001,1,3740,2890,350,400,2200,4640,...,1950,2308,0,0,0,0,690,859,2510,4325
102615,36,NY,10001,2,2500,1850,240,340,1360,3390,...,2300,7660,0,0,0,0,510,1167,1900,4516
102616,36,NY,10001,3,1950,1540,190,160,1110,2440,...,1920,14814,0,0,0,0,450,1462,1430,3839
102617,36,NY,10001,4,1410,1120,170,80,820,1760,...,1390,17963,0,0,0,0,310,1401,1040,3496
102618,36,NY,10001,5,2580,1850,560,90,1540,3580,...,2570,63114,130,45,40,15,560,4030,1870,7956
102619,36,NY,10001,6,2340,1200,1030,50,1760,4150,...,2340,418983,1850,6168,1640,7066,1160,31160,850,27005
102620,36,NY,10002,1,21180,12550,5360,2950,15360,33920,...,9240,8703,0,0,0,0,4010,3394,14700,31233
102621,36,NY,10002,2,8210,4660,1900,1480,5150,14540,...,7110,21394,0,0,0,0,1610,3192,6470,16689
102622,36,NY,10002,3,4810,3300,730,670,2780,7120,...,4730,34173,0,0,0,0,1050,3037,3660,9197
102623,36,NY,10002,4,2710,1850,520,270,1560,4020,...,2700,32931,0,0,0,0,620,2487,2020,6137
102624,36,NY,10002,5,3620,2200,1120,210,2160,6000,...,3600,81446,110,29,30,7,870,5642,2590,11309
102625,36,NY,10002,6,1650,710,870,50,1160,3370,...,1650,177730,1170,2081,1040,2957,840,17344,600,6812
102626,36,NY,10003,1,5030,4400,330,200,2940,5020,...,2790,3597,0,0,0,0,1140,1404,2990,4369
102627,36,NY,10003,2,3870,3350,280,150,2260,4420,...,3630,14014,0,0,0,0,940,2685,2660,5930
102628,36,NY,10003,3,3960,3470,280,120,2230,4510,...,3890,31169,0,0,0,0,970,2775,2740,6685
102629,36,NY,10003,4,3220,2710,330,100,1870,3820,...,3180,41102,0,0,0,0,720,2988,2290,6765
102630,36,NY,10003,5,6300,4830,1190,140,4080,8210,...,6260,152905,280,79,70,54,1410,10187,4330,20200
102631,36,NY,10003,6,6280,3070,2930,160,4920,11550,...,6280,1324171,4830,18193,4660,30617,2920,85141,2190,89202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112549,36,NY,14901,1,2750,1690,270,750,990,4670,...,1080,851,0,0,0,0,110,86,2530,6452
112550,36,NY,14901,2,1310,650,320,280,540,2430,...,1110,2864,0,0,0,0,130,227,1160,3186
112551,36,NY,14901,3,620,250,290,90,310,1240,...,590,3464,0,0,0,0,120,211,490,1247
112552,36,NY,14901,4,310,60,220,0,170,730,...,310,2751,0,0,0,0,70,144,230,716
112553,36,NY,14901,5,250,40,210,0,160,650,...,250,4178,20,24,0,0,100,654,180,857
112554,36,NY,14901,6,40,0,30,0,30,90,...,40,3249,0,0,20,23,0,0,0,0
112555,36,NY,14903,1,1330,950,150,220,500,1760,...,600,485,0,0,0,0,70,54,1180,2375
112556,36,NY,14903,2,870,470,220,160,350,1540,...,750,2077,0,0,0,0,110,155,760,1961
112557,36,NY,14903,3,520,200,240,60,260,1030,...,500,2906,0,0,0,0,90,202,410,1168
112558,36,NY,14903,4,340,60,250,40,190,830,...,330,2838,0,0,0,0,70,159,260,840
112559,36,NY,14903,5,390,40,340,0,230,1080,...,390,6763,0,0,0,0,110,448,260,1070
112560,36,NY,14903,6,150,0,140,0,100,460,...,150,13629,100,167,90,106,70,850,50,859
112561,36,NY,14904,1,3150,2010,400,710,1110,4970,...,1340,1094,0,0,0,0,140,100,2870,6452
112562,36,NY,14904,2,1910,940,500,420,750,3570,...,1590,4133,0,0,0,0,190,225,1700,4775
112563,36,NY,14904,3,890,310,460,100,450,1910,...,860,4697,0,0,0,0,140,255,730,2024
112564,36,NY,14904,4,440,80,340,20,230,1050,...,440,3867,0,0,0,0,100,220,330,1006
112565,36,NY,14904,5,340,40,290,0,210,860,...,340,6071,0,0,0,0,100,331,220,857
112566,36,NY,14904,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112567,36,NY,14905,1,1400,1010,140,220,560,1760,...,560,458,0,0,0,0,90,82,1200,2204
112568,36,NY,14905,2,950,540,230,160,390,1610,...,830,2238,0,0,0,0,130,155,800,1970
112569,36,NY,14905,3,630,310,240,70,340,1160,...,620,3755,0,0,0,0,120,246,490,1318
112570,36,NY,14905,4,470,110,330,40,290,1060,...,470,4185,0,0,0,0,120,315,330,1020
112571,36,NY,14905,5,630,80,540,0,400,1680,...,630,10799,0,0,0,0,190,794,420,1850
112572,36,NY,14905,6,180,20,160,0,140,500,...,180,15026,80,116,110,180,70,1167,80,1014
112573,36,NY,99999,1,18940,13470,2990,2350,10750,29750,...,9600,8667,0,0,0,0,2140,2094,14540,29674
112574,36,NY,99999,2,11180,6600,2220,2110,6630,19560,...,9730,29543,0,0,0,0,1680,3319,8900,21881
112575,36,NY,99999,3,7210,4160,1850,1080,4470,12340,...,6970,46465,0,0,0,0,1420,3593,5230,13916
112576,36,NY,99999,4,4180,2140,1570,490,2740,7850,...,4120,45151,0,0,0,0,800,2748,2900,9355
112577,36,NY,99999,5,6110,2820,2910,320,4430,12120,...,6030,131411,170,46,90,22,1520,8649,3750,16323
112578,36,NY,99999,6,5320,1600,3550,160,4810,12970,...,5330,1742768,2680,24261,3650,62647,1980,56545,2090,222171

We only need three columns from this dataset for our analysis:
    - Zipcode
    - Income Bracket (agi_stub column)
    - Number of Returns for each bracket (N1 column)

In [7]:
#Group the NY income data by Zipcode, Income Bracket, and Number of Returns (frequency)
df_incomeNY = df_incomeNY.groupby(['zipcode','agi_stub','A02650'], as_index=False).agg({'N1':'sum'})
df_incomeNY

      zipcode  agi_stub     A02650       N1
0           0         1   42899339  3445320
1           0         2   78336378  2124110
2           0         3   80771436  1297620
3           0         4   72245827   825090
4           0         5  172448013  1242910
5           0         6  348418312   533020
6        6390         1        537       40
7        6390         2        818       20
8        6390         3       3309       50
9        6390         4          0        0
10       6390         5       7086       40
11       6390         6          0        0
12      10001         1      44849     3740
13      10001         2      94324     2500
14      10001         3     123197     1950
15      10001         4     123605     1410
16      10001         5     366195     2580
17      10001         6    1570914     2340
18      10002         1     255891    21180
19      10002         2     301910     8210
20      10002         3     298746     4810
21      10002         4     236892     2710
22      10002         5     499427     3620
23      10002         6     720857     1650
24      10003         1      61330     5030
25      10003         2     151432     3870
26      10003         3     251283     3960
27      10003         4     284210     3220
28      10003         5     903659     6300
29      10003         6    5068832     6280
...       ...       ...        ...      ...
9947    14901         1      34669     2750
9948    14901         2      47080     1310
9949    14901         3      37969      620
9950    14901         4      26569      310
9951    14901         5      32639      250
9952    14901         6      14536       40
9953    14903         1      17103     1330
9954    14903         2      32316      870
9955    14903         3      32334      520
9956    14903         4      29133      340
9957    14903         5      52350      390
9958    14903         6      61634      150
9959    14904         1      40701     3150
9960    14904         2      68629     1910
9961    14904         3      54514      890
9962    14904         4      37689      440
9963    14904         5      44550      340
9964    14904         6          0        0
9965    14905         1      17079     1400
9966    14905         2      35065      950
9967    14905         3      39500      630
9968    14905         4      41368      470
9969    14905         5      83869      630
9970    14905         6      67868      180
9971    99999         1     236481    18940
9972    99999         2     415824    11180
9973    99999         3     448142     7210
9974    99999         4     363449     4180
9975    99999         5     852743     6110
9976    99999         6    7471150     5320

[9977 rows x 4 columns]

Now, we should check for how complete this NY income dataset is. Bear in mind that the dataset includes data for residents outside of the five boroughs of New York City as well. <br>
<br>
Using the list of zip codes from the NYC Open Data site, we compare the list of NYC zipcodes against the NY income dataset. We find that there are 4,281,820 tax returns from NYC in the dataset, which is approximately half of the actual NYC population of 8.6 million. <br> 
<br>
According to 2017 estimates of age distribution in New York City by Baruch College, approximately 57.2% of the population are ages 20 to 59 years old. That means nearly 4.9 million people are assumed/eligible to have income tax returns. While the income dataset does not quite match the actual figures of people in New York City, it is still reasonable to conclude that the dataset serves as a good statistical representation of income distribution for NYC.
<br>
<br>
Zip Code Breakdowns for NYC - Updated September 2018<br>
https://data.cityofnewyork.us/City-Government/Zip-code-breakdowns/6bic-qvek
<br>
<br>
Age Distribution of NYC - Updated 2017 <br>
https://www.baruch.cuny.edu/nycdata/population-geography/age_distribution.htm

In [7]:
#list of NYC zipcodes
cols2 = ["10001","10002","10003","10004","10005","10006","10007","10009","10010","10011","10012","10013","10014",
         "10016","10017","10018","10019","10020","10021","10022","10023","10024","10025","10026","10027","10028",
         "10029","10030","10031","10032","10033","10034","10035","10036","10037","10038","10039","10040","10044",
         "10045","10065","10115","10119","10128","10154","10278","10280","10301","10302","10303","10304","10305",
         "10306","10307","10309","10310","10312","10314","10451","10452","10453","10454","10455","10456","10457",
         "10458","10459","10460","10461","10462","10463","10464","10465","10466","10467","10468","10469","10471",
         "10472","10473","10474","10475","10514","10543","10553","10573","10701","10705","10911","10965","10977",
         "11001","11021","11050","11101","11102","11103","11104","11105","11106","11111","11112","11201","11202",
         "11203","11204","11205","11206","11207","11208","11209","11210","11211","11212","11213","11214","11215",
         "11216","11217","11218","11219","11220","11221","11222","11223","11224","11225","11226","11228","11229",
         "11230","11231","11232","11233","11234","11235","11236","11237","11238","11239","11252","11354","11355",
         "11356","11357","11358","11360","11361","11362","11364","11365","11366","11367","11368","11369","11370",
         "11371","11372","11373","11374","11375","11377","11378","11379","11385","11411","11412","11413","11414",
         "11415","11416","11417","11418","11419","11420","11421","11422","11423","11424","11425","11426","11427",
         "11428","11429","11430","11431","11432","11433","11434","11435","11436","11439","11451","11471","11510",
         "11548","11566","11577","11580","11598","11629","11691","11692","11693","11694","11695","11731","11798",
         "11968","12423","12428","12435","12458","12466","12473","12528","12701","12733","12734","12737","12750",
         "12751","12754","12758","12759","12763","12764","12768","12779","12783","12786","12788","12789","13731",
         "16091","20459"]

test = df_incomeNY[df_incomeNY['zipcode'].isin(cols2)]
test.sum()

zipcode      14203062
agi_stub         4494
A02650      360250074
N1            4281820
dtype: int64

The 1-6 scale used in the agi_stub column isn't very helpful for the analysis. So we will replace this with the actual income brackets that the IRS dataset utilizes.

Income Brackets:
    - $1 - $24,999
    - $25,000 - $49,999
    - $50,000 - $74,999
    - $75,000 - $99,999
    - $100,000 - $199,999
    - >$200,000

In [8]:
#Add the official income bracket quantities to replace the 1-6 scale
bins=[0,1,2,3,4,5,np.inf]
names=['1-24999','25000-49999','50000-74999','75000-99999','100000-199999','>200000']
df_incomeNY['income_bracket'] = pd.cut(df_incomeNY['agi_stub'], bins, labels=names)
df_incomeNY = df_incomeNY.rename(columns = {'zipcode':'Zipcode','A02650': 'Total Income'})
df_incomeNY['Act. Mean Income'] = df_incomeNY['Total Income']/df_incomeNY['N1']
df_incomeNY['Act. Mean Income'] = df_incomeNY['Act. Mean Income'].apply(lambda x:x*1000).round(2)

df_incomeNY

,Zipcode,agi_stub,Total Income,N1,income_bracket,Act. Mean Income
0,0,1,42899339,3445320,1-24999,12451.48
1,0,2,78336378,2124110,25000-49999,36879.62
2,0,3,80771436,1297620,50000-74999,62245.83
3,0,4,72245827,825090,75000-99999,87561.15
4,0,5,172448013,1242910,100000-199999,138745.37
5,0,6,348418312,533020,>200000,653668.37
6,6390,1,537,40,1-24999,13425.00
7,6390,2,818,20,25000-49999,40900.00
8,6390,3,3309,50,50000-74999,66180.00
9,6390,4,0,0,75000-99999,NaN
10,6390,5,7086,40,100000-199999,177150.00
11,6390,6,0,0,>200000,NaN
12,10001,1,44849,3740,1-24999,11991.71
13,10001,2,94324,2500,25000-49999,37729.60
14,10001,3,123197,1950,50000-74999,63177.95
15,10001,4,123605,1410,75000-99999,87663.12
16,10001,5,366195,2580,100000-199999,141936.05
17,10001,6,1570914,2340,>200000,671330.77
18,10002,1,255891,21180,1-24999,12081.73
19,10002,2,301910,8210,25000-49999,36773.45
20,10002,3,298746,4810,50000-74999,62109.36
21,10002,4,236892,2710,75000-99999,87414.02
22,10002,5,499427,3620,100000-199999,137963.26
23,10002,6,720857,1650,>200000,436883.03
24,10003,1,61330,5030,1-24999,12192.84
25,10003,2,151432,3870,25000-49999,39129.72
26,10003,3,251283,3960,50000-74999,63455.30
27,10003,4,284210,3220,75000-99999,88263.98
28,10003,5,903659,6300,100000-199999,143437.94
29,10003,6,5068832,6280,>200000,807138.85
...,...,...,...,...,...,...
9947,14901,1,34669,2750,1-24999,12606.91
9948,14901,2,47080,1310,25000-49999,35938.93
9949,14901,3,37969,620,50000-74999,61240.32
9950,14901,4,26569,310,75000-99999,85706.45
9951,14901,5,32639,250,100000-199999,130556.00
9952,14901,6,14536,40,>200000,363400.00
9953,14903,1,17103,1330,1-24999,12859.40
9954,14903,2,32316,870,25000-49999,37144.83
9955,14903,3,32334,520,50000-74999,62180.77
9956,14903,4,29133,340,75000-99999,85685.29
9957,14903,5,52350,390,100000-199999,134230.77
9958,14903,6,61634,150,>200000,410893.33
9959,14904,1,40701,3150,1-24999,12920.95
9960,14904,2,68629,1910,25000-49999,35931.41
9961,14904,3,54514,890,50000-74999,61251.69
9962,14904,4,37689,440,75000-99999,85656.82
9963,14904,5,44550,340,100000-199999,131029.41
9964,14904,6,0,0,>200000,NaN
9965,14905,1,17079,1400,1-24999,12199.29
9966,14905,2,35065,950,25000-49999,36910.53
9967,14905,3,39500,630,50000-74999,62698.41
9968,14905,4,41368,470,75000-99999,88017.02
9969,14905,5,83869,630,100000-199999,133125.40
9970,14905,6,67868,180,>200000,377044.44
9971,99999,1,236481,18940,1-24999,12485.80
9972,99999,2,415824,11180,25000-49999,37193.56
9973,99999,3,448142,7210,50000-74999,62155.62
9974,99999,4,363449,4180,75000-99999,86949.52
9975,99999,5,852743,6110,100000-199999,139565.14
9976,99999,6,7471150,5320,>200000,1404351.50

In [9]:
df_incomeNY=df_incomeNY.groupby('Zipcode')['Total Income','N1'].agg('sum')
df_incomeNY.reset_index()
df_incomeNY['average'] = df_incomeNY['Total Income']/df_incomeNY['N1']
df_incomeNY['average'] = df_incomeNY['average'].apply(lambda x:x*1000).round(2)
df_incomeNY = df_incomeNY.reset_index()
df_incomeNY.Zipcode = df_incomeNY.Zipcode.astype(str)
df_incomeNY.columns=['Zipcode','Total Income','Number of Returns','Average Income']
df_incomeNY

     Zipcode  Total Income  Number of Returns  Average Income
0          0     795119305            9468070        83979.03
1       6390         11750                150        78333.33
2      10001       2323084              14520       159992.01
3      10002       2313723              42180        54853.56
4      10003       6720746              28660       234499.16
5      10004        830828               2480       335011.29
6      10005       3171561               5940       533932.83
7      10006        467213               2370       197136.29
8      10007       3048670               3440       886241.28
9      10009       2611193              32410        80567.51
10     10010       3974321              17360       228935.54
11     10011       8097331              29920       270632.72
12     10012       3239965              12470       259820.77
13     10013       6381000              14940       427108.43
14     10014       5629645              18660       301695.87
15     10016       6970456              31940       218235.94
16     10017       4047880              11850       341593.25
17     10018       2785199               6390       435868.39
18     10019       6587511              25110       262346.12
19     10021      10700368              23530       454754.27
20     10022      10148754              19840       511529.94
21     10023      11936570              34070       350354.27
22     10024      10166649              30410       334319.27
23     10025       6970844              45610       152835.87
24     10026       1236140              18040        68522.17
25     10027       1687853              27180        62099.08
26     10028       9187534              25100       366037.21
27     10029       1794048              35060        51170.79
28     10030        576365              13630        42286.50
29     10031       1227413              29340        41834.12
...      ...           ...                ...             ...
1633   14865         55776               1130        49359.29
1634   14867        131398               2730        48131.14
1635   14869         28004                590        47464.41
1636   14870        391433               4490        87178.84
1637   14871        129159               2120        60924.06
1638   14872         11875                270        43981.48
1639   14873         46506               1040        44717.31
1640   14874          4989                100        49890.00
1641   14877          8847                190        46563.16
1642   14878         13866                330        42018.18
1643   14879         42999                960        44790.62
1644   14880         30251                680        44486.76
1645   14881          6921                140        49435.71
1646   14882        141148               1960        72014.29
1647   14883         94913               1880        50485.64
1648   14884          6793                170        39958.82
1649   14885         11870                310        38290.32
1650   14886        217575               3340        65142.22
1651   14889         29728                670        44370.15
1652   14891         97583               2030        48070.44
1653   14892        167873               3610        46502.22
1654   14894         29042                660        44003.03
1655   14895        195205               3980        49046.48
1656   14897         16210                350        46314.29
1657   14898         24656                580        42510.34
1658   14901        193462               5280        36640.53
1659   14903        224870               3600        62463.89
1660   14904        246083               6730        36565.08
1661   14905        284749               4260        66842.49
1662   99999       9787789              52940       184884.57

[1663 rows x 4 columns]

Alternative:

We want to find the average income for each zipcode in order to measure wealth in an area. However, since we only have data on the _number_ of returns for each income bracket, it is impossible to find the actual average income in each zipcode. Thus, the best we can do is to estimate average income by taking the average, or midpoint, value of each income bracket range.

For example, if the income breakdown in a zipcode is as follows:
    - 50 returns in the $25,000-$49,999 income bracket
    - 30 returns in the $50,000-$74,999 income bracket
    - 60 returns in the $75,000-$99,999 income bracket
    - 20 returns in the >$200,000 income bracket
The average income for the zipcode would be calculated as:  

\begin{equation*}
\frac{(\frac{25000+49999}{2}*50) + (\frac{50000+74999}{2}*30) + (\frac{75000+99999}{2}*60) + (\frac{200000+300000}{2}*20)}{(50+30+60+20)} = 87499.56
\end{equation*}

Because the '>\\$200,000' income bracket has no upper limit, we capped the bracket at '\$300,000' so as to not skew average incomes too much to the higher end of the spectrum.
To calculate the median income, we also utilize the midpoint of each income bracket range. Thus, calculated median figures will be inaccurate since there are only 6 possible values, derived from the midpoints of 6 immutable income brackets. But it helps to get an idea of approximately the range in which the median income falls.

We create our own functions to calculate mean and median income.

In [ ]:
#create custom functions to calculate mean and median incomes based on the income brackets.
#the result will be an estimate since we use the midpoint of each income bracket.

lower_limit = [1,25000,50000,75000,100000,200000]
upper_limit = [24999,49999,74999,99999,199999,300000]

def intervalmean(low, high, freq, n):
    mid=[0.0]*n
    sum=0
    freqSum=0
    
    #calculate sum of frequency, sum of multiplication of interval mid-values and respective interval frequency
    for i in range(0,n):
        mid[i] = ((low[i]+high[i])/2)
        sum=sum+mid[i]*freq[i]
        freqSum = freqSum + freq[i]
    return sum/freqSum

def intervalmedian(low, high, freq, n):
    mid=[0.0]*n
    mp = []
    
    #build the array to determine median
    for i in range(0,n):
        mid[i] = ((low[i]+high[i])/2)
        mp.append(mid[i])
    
    newlist = (list(zip(mp,freq)))
    a,b = np.array(newlist, dtype=np.int64).T
    data = np.repeat(a,b)
    return np.median(data)

Now, we apply the mean and median functions to our NY income dataset

In [ ]:
#apply the custom mean and median functions to the NY income dataset

df_incomeNY2 = df_incomeNY.groupby(['Zipcode'])['N1'].apply(list)

df_incomeNY2=pd.DataFrame(df_incomeNY2).reset_index()

df_incomeNY2['Mean Income'] = df_incomeNY2.apply(lambda x: intervalmean(lower_limit,\
                                                                        upper_limit,\
                                                                        x['N1'],\
                                                                        len(x['N1'])),axis=1).astype(float).round(2)

df_incomeNY2['Median Income'] = df_incomeNY2.apply(lambda x: intervalmedian(lower_limit,\
                                                                            upper_limit,\
                                                                            x['N1'],\
                                                                            len(x['N1'])),axis=1).astype(float).round(2)

df_incomeNY2.columns=['Zipcode','Bracket Frequencies','Est. Mean Income','Est. Median Income']
df_incomeNY2.Zipcode = df_incomeNY2.Zipcode.astype(str)
df_incomeNY2

The average income for NY State is about \\$60,764. This figure is comparable to the actual US Census figure for median income in NY State in 2017: $62,765 <br>
<br>
US Census Data for New York - Updated 2017 <br>
https://www.census.gov/quickfacts/NY

In [ ]:
#summary statistics for the NY income dataset. This includes data outside of the 5 boroughs of NYC
df_incomeNY.describe()

In [ ]:
df_incomeNY2.describe()

# Finding Correlation Between Income and Playground Availability
Now that we cleaned up the park and playground datasets, as well as the NY income dataset, we can use the utilize the data to determine if there is a relationship between income and playground availibility in a zip code.

After we merge the NY income dataset with the Park/Playground compatible dataset, we get a DataFrame that shows the Mean and Median Incomes, as well as the number of Parks and Playgrounds, for each zipcode.

In [10]:
df_aggregate = pd.merge(df_incomeNY,df_allparksCompatible,on='Zipcode',how='outer')
df_aggregate = df_aggregate.sort_values(by=['No. of Parks'],ascending=False)
df_aggregate

,Zipcode,Total Income,Number of Returns,Average Income,No. of Parks,No. of Playgrounds,counts
254,11211,2360597.0,30950.0,76271.31,40.0,13.0,5.0
245,11201,6307963.0,31970.0,197308.82,27.0,10.0,5.0
3,10002,2313723.0,42180.0,54853.56,25.0,23.0,5.0
255,11212,1196980.0,38370.0,31195.73,22.0,19.0,5.0
61,10314,2898644.0,40740.0,71149.83,21.0,12.0,5.0
50,10301,1251042.0,18080.0,69194.80,20.0,8.0,5.0
302,11377,1944107.0,45490.0,42737.02,20.0,7.0,5.0
249,11206,1483562.0,36490.0,40656.67,20.0,18.0,5.0
68,10457,876847.0,32720.0,26798.50,19.0,15.0,5.0
67,10456,1065238.0,40390.0,26373.81,18.0,12.0,5.0
60,10312,2406109.0,29230.0,82316.42,18.0,7.0,5.0
63,10452,997186.0,36200.0,27546.57,17.0,12.0,5.0
276,11234,2814947.0,42560.0,66140.67,17.0,14.0,5.0
71,10460,712300.0,25120.0,28355.89,16.0,4.0,5.0
62,10451,752487.0,23290.0,32309.45,16.0,10.0,5.0
238,11101,1554491.0,18530.0,83890.50,16.0,8.0,5.0
33,10035,696825.0,15130.0,46055.85,16.0,10.0,5.0
250,11207,1458749.0,43530.0,33511.35,16.0,17.0,5.0
64,10453,983753.0,37600.0,26163.64,16.0,14.0,5.0
303,11378,975889.0,17640.0,55322.51,15.0,7.0,5.0
275,11233,1279701.0,31980.0,40015.67,15.0,15.0,5.0
70,10459,602309.0,21280.0,28303.99,15.0,8.0,5.0
299,11373,1770853.0,50870.0,34811.34,15.0,10.0,5.0
74,10463,2202855.0,33940.0,64904.39,14.0,8.0,5.0
27,10029,1794048.0,35060.0,51170.79,14.0,12.0,5.0
14,10014,5629645.0,18660.0,301695.87,13.0,5.0,5.0
65,10454,418116.0,15840.0,26396.21,13.0,9.0,5.0
248,11205,1308615.0,18770.0,69718.43,12.0,12.0,5.0
295,11368,1450218.0,48530.0,29882.92,12.0,6.0,5.0
305,11385,2266998.0,48790.0,46464.40,12.0,11.0,5.0
...,...,...,...,...,...,...,...
1633,14865,55776.0,1130.0,49359.29,NaN,NaN,NaN
1634,14867,131398.0,2730.0,48131.14,NaN,NaN,NaN
1635,14869,28004.0,590.0,47464.41,NaN,NaN,NaN
1636,14870,391433.0,4490.0,87178.84,NaN,NaN,NaN
1637,14871,129159.0,2120.0,60924.06,NaN,NaN,NaN
1638,14872,11875.0,270.0,43981.48,NaN,NaN,NaN
1639,14873,46506.0,1040.0,44717.31,NaN,NaN,NaN
1640,14874,4989.0,100.0,49890.00,NaN,NaN,NaN
1641,14877,8847.0,190.0,46563.16,NaN,NaN,NaN
1642,14878,13866.0,330.0,42018.18,NaN,NaN,NaN
1643,14879,42999.0,960.0,44790.62,NaN,NaN,NaN
1644,14880,30251.0,680.0,44486.76,NaN,NaN,NaN
1645,14881,6921.0,140.0,49435.71,NaN,NaN,NaN
1646,14882,141148.0,1960.0,72014.29,NaN,NaN,NaN
1647,14883,94913.0,1880.0,50485.64,NaN,NaN,NaN
1648,14884,6793.0,170.0,39958.82,NaN,NaN,NaN
1649,14885,11870.0,310.0,38290.32,NaN,NaN,NaN
1650,14886,217575.0,3340.0,65142.22,NaN,NaN,NaN
1651,14889,29728.0,670.0,44370.15,NaN,NaN,NaN
1652,14891,97583.0,2030.0,48070.44,NaN,NaN,NaN
1653,14892,167873.0,3610.0,46502.22,NaN,NaN,NaN
1654,14894,29042.0,660.0,44003.03,NaN,NaN,NaN
1655,14895,195205.0,3980.0,49046.48,NaN,NaN,NaN
1656,14897,16210.0,350.0,46314.29,NaN,NaN,NaN
1657,14898,24656.0,580.0,42510.34,NaN,NaN,NaN
1658,14901,193462.0,5280.0,36640.53,NaN,NaN,NaN
1659,14903,224870.0,3600.0,62463.89,NaN,NaN,NaN
1660,14904,246083.0,6730.0,36565.08,NaN,NaN,NaN
1661,14905,284749.0,4260.0,66842.49,NaN,NaN,NaN
1662,99999,9787789.0,52940.0,184884.57,NaN,NaN,NaN

We generate a statistical correlation matrix to determine the correlation between each column: Mean Income, Median Income, Number of Parks, and Number of Playgrounds. The matrix generates Pearson correlation coefficients, which indicate the linear correlation between two variables.

Pearson correlation coefficients range from -1 to 1. <br>
-1 means that there is a perfectly negative correlation. <br>
+1 means that there is a perfectly positive correlation. <br>
0 means that there is no correlation.

In [11]:
corrmatrix = df_aggregate.corr()
corrmatrix=corrmatrix.drop(['counts'],axis=1)
corrmatrix=corrmatrix.drop(['counts'],axis=0)
corrmatrix

,Total Income,Number of Returns,Average Income,No. of Parks,No. of Playgrounds
Total Income,1.000000,0.999173,0.029954,0.003883,-0.129877
Number of Returns,0.999173,1.000000,0.005205,0.440435,0.646595
Average Income,0.029954,0.005205,1.000000,-0.218538,-0.398991
No. of Parks,0.003883,0.440435,-0.218538,1.000000,0.726582
No. of Playgrounds,-0.129877,0.646595,-0.398991,0.726582,1.000000

As we can see from the results, there is a __moderately strong negative correlation__ between Mean Income and the Number of Playgrounds in any given area in NYC. <br>
>Correlation between Mean Income and Number of Playgrounds: -0.399 <br>
> Correlation between Total Income and Number of Playgrounds: -0.13 <br>
<br  />
> Correlation between Mean Income and Number of Parks: -0.219 <br>
> Correlation between Total Income and Number of Parks: 0 <br>

This means that as average income increases in a zipcode, the number of playgrounds decreases.
While there is evidence of a relationship between income and playground availability, the relationship between income and park availability is still inconclusive due to their weakly negative correlation coefficients.

# Data Visualization - Choropleth Map
To visualize the datasets used in this analysis, we can create a choropleth map. Through color coding and shading, a choropleth map is a great way to see the differences in income or number of parks/playgrounds in any given area. <br>
<br>
First we import the relevant libraries.

In [13]:
import folium
#import json
#from IPython.display import HTML, display

The following code will generate an interactive choropleth map of New York City.<br>
An HTML file labeled 'NYC Choropleth Map' will generate in the folder. This is where the map will be published. The file can be opened in a browser.<br>
<br>
Using the New York Zip Code GeoJson file from Github user enactdev, the zip code area outlines were shaped in the map. The shape file was originally sourced from the US Census Bureau site. <br> 
https://github.com/OpenDataDE/State-zip-code-GeoJSON <br>
<br>
https://www.census.gov/cgi-bin/geo/shapefiles2010/main <br>
<br>
The interactive map will have three overlays: Park Density Map, Income Map, and Playground Map.
Feel free to toggle the overlay views to see a certain map. For the Income Map, you can hover over any area to see more information regarding mean and median incomes in the area. For the Park Density Map, you can hover over any area to see more information regarding the number of parks and playgrounds in that area. The individual red dots from the Playground Map indicate playground locations.

__Important information:__
In the original playground dataset, 1245 playgrounds had data on longitude and latitude, even though most did not have zipcode data. The Playground Choropleth Map was generated using this longitude and latitude information. However, the Park Density Map was generated using the merged dataset between the NY Income and the Park/Playground compatible dataset. This dataset had a total of 1037 playgrounds and are linked to zipcodes. Thus, there are discrepancies in the playground figures between the Park Density Map and the Playground Map.

In [21]:
import json
data = json.load(open('parkagg.json'))
#data
df = pd.DataFrame(data)
df

                                                 Zip
10001                                              5
10001, 10011, 10014                                1
10001, 10018                                       1
10002                                             25
10003                                             10
10004                                              3
10004, 10280                                       1
10005                                              2
10007                                              3
10007, 10013, 10280                                1
10009                                              8
10010                                              4
10011                                              5
10012                                             10
10012, 10013                                       1
10013                                              9
10014                                             13
10016                                              5
10017                                              7
10017, 10022                                       1
10018                                              1
10019                                              3
10019, 10023                                       1
10021                                              3
10021, 10022, 10028, 10029, 10065, 10075, 10128    1
10021, 10028, 10065, 10075                         1
10022                                              7
10022, 10065                                       1
10023                                             10
10023, 10024, 10025                                3
...                                              ...
11414                                              3
11415                                              4
11416                                              4
11417                                             11
11418                                              1
11419                                              2
11420                                              8
11421                                              3
11422                                              2
11423                                              4
11426                                              5
11426, 11427                                       1
11427                                              2
11428                                              1
11429                                              7
11432                                              7
11433                                              9
11434                                              6
11435                                              5
11436                                              3
11559, 11422                                       1
11559, 11691                                       1
11691                                             12
11691, 11692                                       2
11691, 11692, 11693, 11694                         1
11692                                              7
11692, 11693, 11694                                1
11693                                              7
11693, 11693, 11693, 11693                         1
11694                                             13

[278 rows x 1 columns]

In [30]:
import geopandas as gpd
zips = gpd.read_file('ny_new_york_zip_codes_geo.min.json')

In [32]:
zips2 = pd.merge(zips, df_aggregate, left_on = 'ZCTA5CE10', right_on='Zipcode',how='left')
zips2 = zips2.drop(['Zipcode'],axis=1)
zips2 = zips2.rename(columns={'ZCTA5CE10':'ZipCode'})
zips2

,STATEFP10,ZipCode,GEOID10,CLASSFP10,MTFCC10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,PARTFLG10,geometry,Total Income,Number of Returns,Average Income,No. of Parks,No. of Playgrounds,counts
0,36,12205,3612205,B5,G6350,S,40906445,243508,+42.7187855,-073.8292399,N,"POLYGON ((-73.87051700000001 42.751227, -73.86...",850274.0,14810.0,57412.15,NaN,NaN,NaN
1,36,12009,3612009,B5,G6350,S,135241924,2168637,+42.6975663,-074.0355422,N,"POLYGON ((-74.10891100000001 42.653004, -74.10...",336390.0,3800.0,88523.68,NaN,NaN,NaN
2,36,14804,3614804,B5,G6350,S,144718714,232123,+42.3172588,-077.8479358,N,"POLYGON ((-77.92747 42.347754, -77.92631799999...",33185.0,610.0,54401.64,NaN,NaN,NaN
3,36,14836,3614836,B5,G6350,S,77612958,131305,+42.5429182,-077.8781933,N,"(POLYGON ((-77.95599300000001 42.474325, -77.9...",23958.0,470.0,50974.47,NaN,NaN,NaN
4,36,14536,3614536,B5,G6350,S,47193482,425175,+42.5439751,-078.0836709,N,"POLYGON ((-78.050297 42.538502, -78.0502429999...",12597.0,280.0,44989.29,NaN,NaN,NaN
5,36,10464,3610464,B5,G6350,S,9070627,236605,+40.8677868,-073.7999204,N,"(POLYGON ((-73.78619399999999 40.873886, -73.7...",186160.0,2170.0,85788.02,3.0,1.0,5.0
6,36,10470,3610470,B5,G6350,S,3689950,3918,+40.8895273,-073.8726596,N,"POLYGON ((-73.865635 40.902086, -73.865268 40....",389104.0,7660.0,50796.87,2.0,1.0,5.0
7,36,10455,3610455,B5,G6350,S,1844518,0,+40.8147100,-073.9085917,N,"POLYGON ((-73.917119 40.817512, -73.9182140000...",500179.0,17780.0,28131.55,10.0,9.0,5.0
8,36,10473,3610473,B5,G6350,S,5645604,13868,+40.8186904,-073.8584741,N,"POLYGON ((-73.884328 40.822614, -73.8844420000...",1080659.0,27910.0,38719.42,10.0,7.0,5.0
9,36,13797,3613797,B5,G6350,S,86238872,282995,+42.3336646,-076.0404014,N,"POLYGON ((-75.98262 42.345787, -75.98309399999...",40710.0,900.0,45233.33,NaN,NaN,NaN
10,36,14719,3614719,B5,G6350,S,244316773,1516486,+42.3419578,-078.8759528,N,"POLYGON ((-78.788741 42.421712, -78.7886709999...",64220.0,1460.0,43986.30,NaN,NaN,NaN
11,36,13118,3613118,B5,G6350,S,265442135,493369,+42.7555850,-076.3872778,N,"POLYGON ((-76.459931 42.824315, -76.45953 42.8...",124292.0,2380.0,52223.53,NaN,NaN,NaN
12,36,13073,3613073,B5,G6350,S,142190941,305530,+42.5836700,-076.3879231,N,"POLYGON ((-76.45808599999999 42.612851, -76.45...",160674.0,3010.0,53380.07,NaN,NaN,NaN
13,36,13074,3613074,B5,G6350,S,109971697,443363,+43.3109165,-076.5498428,N,"POLYGON ((-76.552408 43.255307, -76.5524170000...",87086.0,1900.0,45834.74,NaN,NaN,NaN
14,36,14048,3614048,B5,G6350,S,60355641,18952272,+42.4843590,-079.3170048,N,"POLYGON ((-79.411871 42.445962, -79.412758 42....",260423.0,6430.0,40501.24,NaN,NaN,NaN
15,36,14781,3614781,B5,G6350,S,188068289,223972,+42.1616027,-079.6012876,N,"POLYGON ((-79.673683 42.173499, -79.673644 42....",40088.0,910.0,44052.75,NaN,NaN,NaN
16,36,14757,3614757,B5,G6350,S,119619162,244818,+42.2376789,-079.5047092,N,"POLYGON ((-79.487714 42.257816, -79.487942 42....",73234.0,1450.0,50506.21,NaN,NaN,NaN
17,36,14733,3614733,B5,G6350,S,71799900,482917,+42.1601221,-079.1721988,N,"POLYGON ((-79.16879 42.103036, -79.17090899999...",75360.0,1760.0,42818.18,NaN,NaN,NaN
18,36,14769,3614769,B5,G6350,S,23612130,5153,+42.3679310,-079.4723168,N,"POLYGON ((-79.494542 42.366698, -79.494575 42....",16017.0,380.0,42150.00,NaN,NaN,NaN
19,36,14756,3614756,B5,G6350,S,355130,0,+42.1980388,-079.4212737,N,"POLYGON ((-79.421432 42.196222, -79.4209089999...",NaN,NaN,NaN,NaN,NaN,NaN
20,36,14864,3614864,B5,G6350,S,32250895,116718,+42.2754154,-076.8409211,N,"(POLYGON ((-76.845268 42.226149, -76.844963000...",22903.0,540.0,42412.96,NaN,NaN,NaN
21,36,13780,3613780,B5,G6350,S,57370528,611866,+42.4224855,-075.4765831,N,"POLYGON ((-75.41464999999999 42.457989, -75.41...",23165.0,480.0,48260.42,NaN,NaN,NaN
22,36,13332,3613332,B5,G6350,S,127381600,379821,+42.7641873,-075.5817645,N,"POLYGON ((-75.668943 42.787715, -75.668972 42....",52094.0,1090.0,47792.66,NaN,NaN,NaN
23,36,13155,3613155,B5,G6350,S,52969188,138683,+42.6745458,-075.7767261,N,"POLYGON ((-75.80549499999999 42.697046, -75.80...",12862.0,280.0,45935.71,NaN,NaN,NaN
24,36,13072,3613072,B5,G6350,S,121858807,46852,+42.7622103,-075.7639888,N,"POLYGON ((-75.83174099999999 42.758805, -75.83...",14669.0,360.0,40747.22,NaN,NaN,NaN
25,36,12958,3612958,B5,G6350,S,96217850,357588,+44.9608553,-073.5721779,N,"POLYGON ((-73.532116 45.006541, -73.5193090000...",41079.0,830.0,49492.77,NaN,NaN,NaN
26,36,12919,3612919,B5,G6350,S,99475036,801087,+44.9645348,-073.4470816,N,"POLYGON ((-73.519313 44.997367, -73.519346 45....",75924.0,1580.0,48053.16,NaN,NaN,NaN
27,36,12979,3612979,B5,G6350,S,8804362,0,+44.9916534,-073.3733731,N,"(POLYGON ((-73.350246 45.005353, -73.350255 45...",61554.0,1170.0,52610.26,NaN,NaN,NaN
28,36,12502,3612502,B5,G6350,S,84770055,1477400,+42.0865677,-073.6647238,N,"POLYGON ((-73.712352 42.078491, -73.7125340000...",31891.0,470.0,67853.19,NaN,NaN,NaN
29,36,12075,3612075,B5,G6350,S,101749208,539873,+42.2999220,-073.6336272,N,"POLYGON ((-73.647074 42.352069, -73.64654 42.3...",108546.0,1510.0,71884.77,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1764,36,12754,3612754,B5,G6350,S,68832503,457218,+41.7990662,-074.7364120,N,"(POLYGON ((-74.81746800000001 41.786967, -74.8...",129092.0,2760.0,46772.46,NaN,NaN,NaN
1765,36,12734,3612734,B5,G6350,S,35669164,94065,+41.7345846,-074.7504595,N,"(POLYGON ((-74.72890099999999 41.781715, -74.7...",27120.0,550.0,49309.09,NaN,NaN,NaN
1766,36,12786,3612786,B5,G6350,S,38752747,7226293,+41.6386296,-074.8572035,N,"POLYGON ((-74.894065 41.63062, -74.893558 41.6...",20400.0,310.0,65806.45,NaN,NaN,NaN
1767,36,12769,3612769,B5,G6350,S,12781739,0,+41.6579428,-074.4672801,N,"POLYGON ((-74.494494 41.651482, -74.4945649999...",NaN,NaN,NaN,NaN,NaN,NaN
1768,36,12792,3612792,B5,G6350,S,8783380,6194,+41.5139197,-074.9598198,N,"(POLYGON ((-74.922861 41.510304, -74.923638999...",10877.0,210.0,51795.24,NaN,NaN,NaN
1769,36,12483,3612483,B5,G6350,S,8608112,76906,+41.6723843,-074.4220011,N,"POLYGON ((-74.427251 41.672051, -74.427319 41....",7615.0,150.0,50766.67,NaN,NaN,NaN
1770,36,12458,3612458,B5,G6350,S,83665854,255786,+41.8229184,-074.4320804,N,"(POLYGON ((-74.360203 41.758675, -74.359997000...",51934.0,1080.0,48087.04,NaN,NaN,NaN
1771,36,13732,3613732,B5,G6350,S,85342848,2095007,+42.0494470,-076.1675353,N,"POLYGON ((-76.23064599999999 42.090271, -76.23...",257422.0,3770.0,68281.70,NaN,NaN,NaN
1772,36,14817,3614817,B5,G6350,S,104360284,252245,+42.3575754,-076.3349789,N,"POLYGON ((-76.350521 42.39261, -76.35021999999...",68452.0,1290.0,53063.57,NaN,NaN,NaN
1773,36,12498,3612498,B5,G6350,S,56454302,24959,+42.0460438,-074.1094549,N,"POLYGON ((-74.076454 42.017067, -74.0779639999...",252086.0,2380.0,105918.49,NaN,NaN,NaN
1774,36,12401,3612401,B5,G6350,S,151373808,3445006,+41.9875407,-074.0102727,N,"POLYGON ((-74.11196700000001 41.998619, -74.11...",863788.0,16350.0,52831.07,NaN,NaN,NaN
1775,36,12428,3612428,B5,G6350,S,139812127,1500116,+41.7428326,-074.4473039,N,"POLYGON ((-74.50194999999999 41.786476, -74.50...",117821.0,2580.0,45667.05,NaN,NaN,NaN
1776,36,12486,3612486,B5,G6350,S,8784846,489968,+41.8324170,-074.0639836,N,"POLYGON ((-74.071185 41.834223, -74.071096 41....",49937.0,780.0,64021.79,NaN,NaN,NaN
1777,36,12494,3612494,B5,G6350,S,48545559,0,+41.9565992,-074.2928936,N,"POLYGON ((-74.32448100000001 41.981038, -74.32...",21084.0,340.0,62011.76,NaN,NaN,NaN
1778,36,12816,3612816,B5,G6350,S,163571713,1063436,+43.0442357,-073.3820319,N,"POLYGON ((-73.488349 43.009905, -73.488317 43....",112002.0,2100.0,53334.29,NaN,NaN,NaN
1779,36,10567,3610567,B5,G6350,S,57335255,1172419,+41.2895453,-073.8970302,N,"POLYGON ((-73.907831 41.243613, -73.909695 41....",1089847.0,9810.0,111095.51,NaN,NaN,NaN
1780,36,10707,3610707,B5,G6350,S,3363600,0,+40.9605334,-073.8227322,N,"POLYGON ((-73.83344 40.949478, -73.83343000000...",601836.0,5200.0,115737.69,NaN,NaN,NaN
1781,36,10603,3610603,B5,G6350,S,8520506,7173,+41.0543997,-073.7792873,N,"(POLYGON ((-73.793119 41.071269, -73.793145 41...",800820.0,9970.0,80322.97,NaN,NaN,NaN
1782,36,10548,3610548,B5,G6350,S,6067787,296566,+41.2456965,-073.9329770,N,"POLYGON ((-73.936446 41.233853, -73.937551 41....",141353.0,1590.0,88901.26,NaN,NaN,NaN
1783,36,10517,3610517,B5,G6350,S,850209,0,+41.2982431,-073.8619929,N,"(POLYGON ((-73.86985300000001 41.297563, -73.8...",37368.0,440.0,84927.27,NaN,NaN,NaN
1784,36,10606,3610606,B5,G6350,S,3912506,0,+41.0205725,-073.7758456,N,"POLYGON ((-73.786917 41.033022, -73.786393 41....",703534.0,8280.0,84967.87,NaN,NaN,NaN
1785,36,10580,3610580,B5,G6350,S,21974258,1064698,+40.9789421,-073.6933200,N,"(POLYGON ((-73.696473 40.951198, -73.696873 40...",4218351.0,8010.0,526635.58,NaN,NaN,NaN
1786,36,10518,3610518,B5,G6350,S,8929933,140362,+41.2661596,-073.5882514,N,"POLYGON ((-73.598885 41.25813, -73.59952699999...",123288.0,740.0,166605.41,NaN,NaN,NaN
1787,36,10570,3610570,B5,G6350,S,16882808,194174,+41.1300674,-073.7866700,N,"POLYGON ((-73.80440900000001 41.13547, -73.804...",1129009.0,6040.0,186922.02,NaN,NaN,NaN
1788,36,10597,3610597,B5,G6350,S,8647618,645605,+41.2930212,-073.5965677,N,"POLYGON ((-73.61038499999999 41.281788, -73.61...",172488.0,500.0,344976.00,NaN,NaN,NaN
1789,36,10503,3610503,B5,G6350,S,38497,0,+41.0265555,-073.8753095,N,"POLYGON ((-73.873834 41.025566, -73.87631 41.0...",21078.0,120.0,175650.00,NaN,NaN,NaN
1790,36,10535,3610535,B5,G6350,S,1169775,154348,+41.3351693,-073.7939193,N,"POLYGON ((-73.81299300000001 41.332406, -73.81...",26226.0,420.0,62442.86,NaN,NaN,NaN
1791,36,14569,3614569,B5,G6350,S,197585027,1112470,+42.7346931,-078.1685932,N,"POLYGON ((-78.197395 42.826579, -78.196186 42....",147554.0,2910.0,50705.84,NaN,NaN,NaN
1792,36,14478,3614478,B5,G6350,S,30311215,0,+42.5778234,-077.1263221,N,"POLYGON ((-77.094511 42.624652, -77.094278 42....",30831.0,450.0,68513.33,NaN,NaN,NaN
1793,36,14415,3614415,B5,G6350,S,3760955,0,+42.7554950,-077.0170837,N,"(POLYGON ((-77.015034 42.757715, -77.01492 42....",NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
zips2.to_file('ny_new_york_zip_codes4_geo.min.json', driver='GeoJSON')

In [35]:
#initialize the geojson file
district_geo = r'ny_new_york_zip_codes4_geo.min.json'

#setup the longitude and latitude data from the original playground dataset
df_playground_available = df_playground[df_playground.lat.notnull() & df_playground.lon.notnull()]

#setup the park count data from the original park dataset
data_parks = pd.DataFrame(df_park['Zip'].value_counts())
data_parks.to_json('parkagg.json')
data_parks=data_parks.reset_index()
data_parks.columns=['ZipCode','No_Of_Parks']

#setup the mean income data from the aggregate dataset
data_income = df_aggregate.groupby('Zipcode',as_index=False).agg({'Average Income':'sum'})
data_income.columns=['ZipCode','Mean_Income']
data_income.to_json('incomeagg.json')

#set up the NYC area
map1 = folium.Map(location = [40.75, -73.99], zoom_start=12)

#plot choropleth map of park density
chloropleth = folium.Choropleth(
    geo_data = district_geo,
    data_out = 'parkagg.json',
    data=data_parks,
    columns = ['ZipCode','No_Of_Parks'],
    key_on='feature.properties.ZipCode',
    fill_color = 'YlGn',
    fill_opacity = 0.7,
    line_opacity = 0.2,
    legend_name = 'Number of parks per Zip',
    name = 'Park Density Map',
    overlay = True,
    highlight = True).add_to(map1)

#plot choropleth map of income density
chloropleth2 = folium.Choropleth(
    geo_data = district_geo,
    data_out = 'incomeagg.json',
    data = data_income,
    columns = ['ZipCode','Mean_Income'],
    key_on = 'feature.properties.ZipCode',
    fill_color = 'PuBu',
    fill_opacity = 0.7,
    line_opacity = 0.2,
    legend_name = 'Mean Income per Zip',
    name = 'Income Map',
    overlay = True,
    highlight = True).add_to(map1)

#plot available playgrounds based on their coordinates
playgrounds = folium.FeatureGroup(name='Playground Map').add_to(map1)
for i,row in df_playground_available.iterrows():
    folium.CircleMarker((row.lat,row.lon), radius=3, weight=2, 
                        color='red', fill_color='red', fill_opacity=.5, 
                        popup=row.Name, tooltip=row.Name).add_to(playgrounds)

folium.LayerControl(collapsed=False).add_to(map1)

#add hover effects for both maps
chloropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(['ZipCode','No. of Parks','No. of Playgrounds']))
chloropleth2.geojson.add_child(
    folium.features.GeoJsonTooltip(['ZipCode','Average Income','Total Income']))


#display(map1)
map1.save('NYC Choropleth Map 2.html')

Done!
<br>
<br>
<br>
# Some Double-Checks

The following code is to test and compare our initial NY Income dataset (that includes income data for all of NY state) with a NYC Income dataset that explicitly filters for NYC zipcodes, in order to check for any discrepancies. Ultimately, the correlation results bear no significant discrepancies from the initial correlation results.

Repeat the setup process like before using a test dataset:

In [ ]:
bins=[0,1,2,3,4,5,np.inf]
names=['1-24999','25000-49999','50000-74999','75000-99999','100000-199999','>200000']
test['income_bracket'] = pd.cut(test['agi_stub'], bins, labels=names)
test = test.rename(columns = {'zipcode':'Zipcode'})
test = test.groupby(['Zipcode'])['N1'].apply(list)

test=pd.DataFrame(test).reset_index()

test['Mean Income'] = test.apply(lambda x: intervalmean(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1)
test['Median Income'] = test.apply(lambda x: intervalmedian(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1)
test.columns=['Zipcode','Bracket Frequencies','Est. Mean Income','Est. Median Income']
test.Zipcode = test.Zipcode.astype(str)
test

Find the zip code with the highest mean income

In [ ]:
test.sort_values(by='Est. Mean Income', ascending=False)

We have a new NYC-specific merged dataset. The DataFrame is sorted in descending order for Number of Parks

In [ ]:
test2 = pd.merge(test,df_allparksCompatible,on='Zipcode',how='outer')
test2 = test2.sort_values(by=['No. of Parks'],ascending=False)
test2

## Summary Statistics for NYC Dataset
We find that the average income in NYC is \\$62,886, which is comparable with the actual US Census figure for median income in NYC in 2017: $57,782.

In [ ]:
print(test2.describe())
print('\r')
print(test2.info())
print('\r')
print(test2.sum())

Generate a correlation matrix to see the correlation relationships between Estimated Mean Income, Estimated Median Income, Number of Parks, and Number of Playgrounds. The results are similar to those from the first time! This is likely due to the fact that correlation cannot be computed when comparing NaN values. So even though the original NY income dataset had data regarding zip codes outside of NYC, they were not used to calculate correlation since they did not have park and playground data (exclusive to NYC) to compare against.<br>
<br>
There is a weakly negative relationship between income and park availability and a moderately strong negative relationship between income and playground availability.

In [ ]:
corrmatrix2 = test2.corr()
corrmatrix2=corrmatrix2.drop(['counts'],axis=1)
corrmatrix2=corrmatrix2.drop(['counts'],axis=0)
corrmatrix2

Some other interesting findings. This shows the number of parks and playgrounds with more than one zip code. They were excluded from analysis due to overcounting concerns.

In [ ]:
df_allparksCompatible2 = df_allparks[df_allparks['counts']>5]
df_allparksCompatible2.sum()

In [ ]:
df_allparksCompatible2